header {
<<<<<<< HEAD
  user-select: none;
=======
>>>>>>> f30c08d48754b891632152139497891fcc144e30
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  min-width: 100%;
  min-height: 61.5px;
<<<<<<< HEAD
  max-height: 61.5px;
=======
>>>>>>> f30c08d48754b891632152139497891fcc144e30
  height: 62px;
  border-bottom: 1px solid #303030;
  padding: 0 .6rem;
  h3 {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

